a.nav-link{
    font-weight: bold;
   
    position: relative;
    
}

a.nav-link::after{
    content: "";
    position: absolute;
    bottom:0;
    left:0;
    width: 0%;
    border-bottom: 3px solid white;
    transition: 0.6s;
}
 a.nav-link:hover:after
{
    width: 100%;
}
/* .nav{
    background-color: green;
    background-image: linear-gradient(
        toright, #8659D3FF,rgb(167, 125, 240),rgb(171, 124, 253),rgb(197, 169, 245));
} */
.nav-link{
    color: white;
}
.navbar-toggler{
    color:white;
    border-color: white;
    background-color:white;
}
.navbar-toggler-icon{
    background-color:white;
   /* color:#8659D3FF;*/
}
#logout{
    position:absolute;
    right:1.5%;
    top:14%;
   
}
 #username{
    position: absolute;
    right:9%;
    top:30%;
    left:auto;

} 
#searchbar{
    margin-left:12%

}
#message{
    position: fixed;
    margin-top:5%;
    top:0%;
    right:40%;
    width:auto;
    z-index: 9999;
} 
#message1{
    position: fixed;
    margin-top:5%;
    top:0%;
    right:2%;
    width:auto;
    z-index: 9999;
} 


#tick{
    position:relative;
    border:0;
}
@media (min-width:991px) and (max-width:1090px) {
    #searchbar{
        margin-left:5%;
    }
    #username{
        right:11%;
    }
}
@media (max-width:990px){

    #logout{
        margin-top: 1%;
        position:relative;
        left:0.5%;
        
    } 
    #message{
        top:20%;
        right:1%
    }
    #searchbar,#searchbtn{
        margin-top: 5%;

    }
    #username{
        position:relative;
        left:0.5%;
    }
}