<div class="container-fluid" style="margin-top:5%;">
    <div id="message">
        <div *ngIf="success" class="alert alert-success alert-dismissible fade show " >
            <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="closesuccess()"  aria-label="alert" ></button> 
            {{this.user.username}} Registered Successfully !
       </div> </div>
    <div class="card" style="left:15%; width:70%;">
            <div class="card-body ">
                <h1 class="text-primary" style="text-align:center;">Register</h1>
                <div id="message">
                    <div *ngIf="invalidregister" class="alert alert-danger alert-dismissible fade show " >
                        <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="closefailed()"  aria-label="alert" ></button> 
                        Username or Email Already Exist! 
                   </div> </div>
                <form  [formGroup]="registerForm"  (ngSubmit)="UserRegistration()" novalidate>
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-2" ><label for="name">Name:</label></div>
                    <div class="col-12 col-md-8 col-lg-10"><input class="form-control" [class.is-invalid]="name?.invalid" id="name" placeholder="Name" type="text" formControlName="name" required>
                        <div *ngIf="name?.invalid && (name?.touched ||name?.dirty)">
                            <small class="text-danger" *ngIf="name?.errors?.['required']">Name is required</small>
                           
                            <small class="text-danger" *ngIf="name?.errors?.['maxlength']">Name must have atmost 25characters only</small>
                        </div><br></div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-2" ><label for="username">Username:</label></div>
                    <div class="col-12 col-md-8 col-lg-10"><input class="form-control" [class.is-invalid]="username?.invalid" id="username" placeholder="Username" type="text" formControlName="username" required>
                        <div *ngIf="username?.invalid && (username?.touched ||username?.dirty)">
                            <small class="text-danger" *ngIf="username?.errors?.['required']">Username is required</small>
                        </div><br></div>
                </div>
                <div class="row" >
                    <div class="col-12 col-md-4 col-lg-2" ><label for="email">Email:</label></div>
                    <div class="col-12 col-md-8 col-lg-10"><input class="form-control" [class.is-invalid]="email?.invalid" id="email" placeholder="Email Address" type="email" formControlName="email" required>
                        <div *ngIf="email?.invalid && (email?.touched ||email?.dirty)">
                            <small class="text-danger" *ngIf="email?.errors?.['required']">Email is required</small>
                            <small class="text-danger" *ngIf="email?.errors?.['email']">Please provide valid email address</small>
                        </div><br></div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-2" ><label for="password">Password:</label></div>
                    <div class="col-12 col-md-8 col-lg-10"><input class="form-control" [class.is-invalid]="password?.invalid" id="password" placeholder="Password" type="password" formControlName="password" required>
                        <div *ngIf="password?.invalid && (password?.touched ||password?.dirty)">
                            <small class="text-danger" *ngIf="password?.errors?.['required']">Password is required</small>
                            <small class="text-danger" *ngIf="password?.errors?.['pattern']">Password must contain total atleast 8 to 15 characters atmost and must contain atleast one uppercase,one lowercase,one number, and one special character</small>
                        </div><br></div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-2" ><label for="confirmpassword">Confirm Password:</label></div>
                    <div class="col-12 col-md-8 col-lg-10"><input class="form-control" [class.is-invalid]="confirmpassword?.invalid" id="confirmpassword" placeholder="Confirm Password" type="password" formControlName="confirmpassword" required>
                        <div *ngIf="confirmpassword?.invalid && (confirmpassword?.touched ||confirmpassword?.dirty)">
                            <small class="text-danger" *ngIf="confirmpassword?.errors?.['required']">ConfirmPassword is required</small>
                            <small class="text-danger" *ngIf="confirmpassword?.errors?.['pattern']">ConfirmPassword must contain total atleast 8 to 15 characters atmost and must contain atleast one uppercase,one lowercase,one number, and one special character</small>
                            </div><br>
                        <div *ngIf=" password?.valid && confirmpassword?.touched">
                            <small class="text-danger" *ngIf="confirmpassword!.value!=password!.value" >Password and ConfirmPassword are not matched</small>
                            <small class="text-success" *ngIf="confirmpassword!.value==password!.value">Password and ConfirmPassword are  matched</small>    
                        </div></div>
                </div>

                <div class="row" style="margin-top: 2%;">
                    <button class="btn btn-primary col-12" style="  width:50%; position: relative; left:32%; " type="submit" [disabled]="!registerForm.valid" >Submit</button>
                    <p class="col-12" style="margin-top: 2%;" >Do you already have an Account ? &nbsp;<a class="link text-primary"  [routerLink]="['/login']">Login here</a></p>
                </div>
            </form>
            </div>
    </div>
    </div>
    